{% extends 'base.html' %}
{% load static %}

{% block title %}{{titulo_page}}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Rotaciones</li>
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Listar Rotaciones</h3>
            </div>
            <div class="card-body">{% csrf_token %}
                <table class="table table-bordered text-nowrap border-bottom" id="responsive-datatable">
                    <thead>
                        <tr>
                            <th class="wd-15p border-bottom-0">Expediente</th>
                            <th class="wd-15p border-bottom-0">Persona</th>
                            <th class="wd-15p border-bottom-0">Fecha</th>
                            <th class="wd-15p border-bottom-0">Turno</th>
                            <th class="wd-15p border-bottom-0">Posición</th>
                            <th class="wd-25p border-bottom-0"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rotacion in rotaciones %}
                            <tr>
                                <td class="wd-15p border-bottom-0">{{rotacion.persona.expediente}}</td>
                                <td class="wd-15p border-bottom-0">{{rotacion.persona}}</td>
                                <td class="wd-15p border-bottom-0">{{rotacion.fecha|date:'d-m-Y'}}</td>   
                                <td class="wd-15p border-bottom-0">{{rotacion.turno.nombre}}</td>
                                <td class="wd-15p border-bottom-0">{{rotacion.posicion.nombre}}</td>                             
                                <td class="wd-15p border-bottom-0">
                                    <a class="p-2" data-toggle="tooltip" data-placement="top" title="Editar"
                                    href="{% url 'core:rotacion-editar' rotacion.id %}">
                                     <i class="fa fa-pencil" style="color: #06415e"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}