
{% extends 'base.html' %}

{% block title %}{{titulo_page}}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">Brigadas</li>
    </ol>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-xl-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Adicionar Brigada</h3>
            </div>
            <div class="card-body">{% csrf_token %}
                <form class="needs-validation" method="post" enctype="multipart/form-data" id="uniForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="tipo">Persona</label>
                        <select class="form-control select2-show-search form-select" data-placeholder="Selecciona una persona" name="persona" id="persona" required>
                            <option label="Selecciona una persona"></option>
                            {% for persona in personas%}
                                <option value="{{persona.id}}" {% if brigadas.persona.id == persona.id %} selected {% endif %}>{{persona.expediente}} {{persona}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Turno</label>
                        <select class="form-control select2-show-search form-select" data-placeholder="Selecciona un turno" name="turno" id="turno" required>
                            <option label="Selecciona un turno"></option>
                            {% for turno in turnos%}
                                <option value="{{turno.id}}" {% if brigadas.turno.id == turno.id %} selected {% endif %}>{{turno.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="form-floating">
                            <input autocomplete="off" placeholder="" type="number" class="form-control" id="orden" name="orden" value="{{brigadas.orden}}">
                            <label for="codigo">Orden</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" value="actualizar" name="guardar">Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}